<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791848024762-jdfrki3eunuupjsl8118s65j7dkpc9v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791848024762-jdfrki3eunuupjsl8118s65j7dkpc9v6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbIjsAJs73EwVm6pytEPPPyB9kjfmfLls</string>
	<key>GCM_SENDER_ID</key>
	<string>791848024762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoire</string>
	<key>PROJECT_ID</key>
	<string>humacare-bfcbb</string>
	<key>STORAGE_BUCKET</key>
	<string>humacare-bfcbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791848024762:ios:bb37c44f646cb6d2b02083</string>
</dict>
</plist>